<app-page-header title="Admin"  active_item=""></app-page-header>


<!-- ROW OPEN -->
<div class="row">
    <div class="col-xl-12">
        <div class="input-group mb-5">
            <input type="text" class="form-control" placeholder="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="page-options d-flex float-end">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-lg">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th  class="text-center">ID</th>
                                <th class="text-center">User Name</th>
                                <th>User Category</th>
                                <th>User Role</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of users">
                                <td class="align-middle text-center">{{i.id}}</td>
                                <td class="text-nowrap align-middle">{{i.name}}</td>
                                <td class="text-nowrap align-middle"><span>{{i.userCategory}}</span></td>
                                <td class="text-nowrap align-middle">
                                  {{i.userRole}}
                                </td>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                      <button class="btn btn-sm btn-primary-light" type="button" (click)="editUser(i.id)">Edit</button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="">
            <ul class="pagination float-end mb-5">
                <li class="page-item page-prev disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>
                </li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                <li class="page-item page-next">
                    <a class="page-link" href="javascript:void(0)">Next</a>
                </li>
            </ul>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW CLOSED -->
