<app-page-header title="Home"  active_item="Pipeline"></app-page-header>
<!-- Container -->
<div class="container">

    <div class="row mb-5 justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12 text-center">
            <h1 class="mb-3 font-weight-semibold custom-heading">Pipeline Information Management System</h1>
        </div>
    </div>

    <div class="row mx-0">
        <div class="card overflow-hidden px-0">
            <img src="./assets/images/photos/pipeline.png" >
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="statistics-info p-4">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="">
                                    <h2 class="fw-bold mb-4 text-dark">Pipeline Operators</h2>
                                    <h5 class="leading-normal fw-normal mb-4 text-dark">The Pipeline Operator Portal is Under Development!</h5>
                                    <p>This will be a secure platform where important communication will take place between CAL FIRE - Office of the State Fire Marshal,Pipeline Safety division and our partner companies in the pipeline Industry</p>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="text-center">
                                    <img src="./assets/images/photos/pipeline.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- End Container -->
