<app-page-header title="Home"  active_item="State Waiver" active_item2="Dashboard"></app-page-header>

<div class="row mt-5">
  <div class="col-sm-12 col-md-12 col-xl-8">
    <div class="card" [(ngbCollapse)]="isClosed2">
      <div class="card-header">
        <div class="card-title">State Waiver</div>
        <div class="card-options">
          <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
            (click)="Collapsetoggle2()" [attr.aria-expanded]="!isCollapsed2"><i
              class="fe fe-chevron-{{ !isCollapsed2 ? 'up' : 'down'}}"></i></a>
          <a href="javascript:void(0)" class="card-options-remove" data-bs-toggle="card-remove" (click)="Closetoggle2()"
            [attr.aria-expanded]="!isClosed2"><i class="fe fe-x"></i></a>
        </div>
      </div>
      <div class="card-body" [(ngbCollapse)]="isCollapsed2">
        <div class="mb-0">
          <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="barData.chart" [yaxis]="chartOptions.yaxis"
              [xaxis]="barData.xaxis" [dataLabels]="chartOptions.dataLabels" [stroke]="barData.stroke"
              [plotOptions]="chartOptions.plotOptions" [colors]="apexData.colors" [tooltip]="chartOptions.tooltip"
              [grid]="chartOptions.grid"></apx-chart>
          </div>
          <div style="margin-bottom: 150px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 col-lg-4">
  <div class="row">
  <div class="col-lg-12">
      <div class="card">
      <div class="card-header">
        <h3 class="card-title">State Waiver Status</h3>
      </div>
      <div class="card-body">
        <p><ngb-progressbar type=" bg-green " [value]="60" [striped]="true">Approved</ngb-progressbar></p>
        <p><ngb-progressbar type=" bg-yellow " [value]="40" [striped]="true">In Review</ngb-progressbar></p>
        <p><ngb-progressbar type=" bg-red " [value]="10" [striped]="true">Expired</ngb-progressbar></p>
        <p><ngb-progressbar type=" bg-blue " [value]="20" [striped]="true">Active</ngb-progressbar></p>

      </div>
    </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-12">
      <div class="card overflow-hidden">
          <div class="card-body">
              <div class="main-content-label mg-b-5 " style="font-weight: bold;">
                  State Waiver
              </div>

              <div class="chartjs-wrapper-demo">


                  <canvas baseChart [data]="PieChartData" [options]="PieChartOptions"
                      [type]="PieChartType">
                  </canvas>
              </div>
          </div>
      </div>
  </div><!-- col-6 -->

  </div>



  </div><!-- COL-END -->






  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="table-responsive table-lg">
          <div class="m-3">
            <h4>State Waiver Table</h4>
          </div>

          <table class="table table-bordered mb-0">
            <thead class="thead-light">
              <tr>
                <th>Operator Name</th>
                <th>Line ID</th>
                <th>Description</th>
                <th>Lead PSE</th>
                <th>Status</th>
                <th>Application Date</th>
                <th>Expiration Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let waiver of stateWaivers">
                <td>{{ waiver.operatorName }}</td>
                <td>{{ waiver.lineID }}</td>
                <td>{{ waiver.description }}</td>
                <td>{{ waiver.leadPSE }}</td>
                <td>{{ waiver.status }}</td>
                <td>{{ waiver.applicationDate }}</td>
                <td>{{ waiver.expirationDate }}</td>
                <td>
                  <button class="btn btn-sm btn-primary-light" type="button">View</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div><!--Col End-->


</div>




