<app-page-header title="Home"  active_item="State Waiver" active_item2=""></app-page-header>

<div class="row mt-5">

    <div class="row" >
        <div class="col-lg-8">
          <div class="row mb-0">
            <div class="col-md-12 col-lg-6">
              <div class="card" [(ngbCollapse)]="isClosed1">
                <div class="card-header bg-primary br-tr-3 br-tl-3">
                  <h3 class="card-title text-white " >Data Request</h3>
                  <div class="card-options ">
                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                      (click)="Collapsetoggle1()" [attr.aria-expanded]="!isCollapsed1"><i
                        class="fe text-white fe-chevron-{{ !isCollapsed1 ?  'up' : 'down'}}"></i></a>
                  </div>
                </div>
                <div [(ngbCollapse)]="isCollapsed1">
                  <div class="card-body">
                    <h6 class="font-weight-normal mb-3"><a routerLink="/stateWaiver/datarequest">Data Request</a></h6>
                    <h6 class="font-weight-normal mb-3">Trends</h6>
                  </div>
                  <!-- <div style="margin-bottom: 40px;"></div> -->
                </div>
              </div>
            </div><!-- COL END -->



            <div class="col-md-12 col-lg-6">
              <div class="card" [(ngbCollapse)]="isClosed4">
                <div class="card-header bg-success br-tr-3 br-tl-3">
                  <h3 class="card-title text-white"> Evaluation</h3>
                  <div class="card-options ">
                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                      (click)="Collapsetoggle4()" [attr.aria-expanded]="!isCollapsed4"><i
                        class="fe text-white fe-chevron-{{ !isCollapsed4 ?  'up' : 'down'}}"></i></a>
                  </div>
                </div>
                <div [(ngbCollapse)]="isCollapsed4" style="margin-bottom: -20px;">
                  <div class="card-body">
                    <h6 class="font-weight-normal mb-3"><a href="" class="" routerLink="/stateWaiver/evaluation">Evaluation</a></h6>
                  </div>
                  <!-- <div style="margin-bottom: 35px;"></div> -->
                </div>
              </div>
            </div><!-- COL END -->

            <div class="col-md-12 col-lg-6">
              <div class="card" [(ngbCollapse)]="isClosed8">
                <div class="card-header bg-cyan br-tr-3 br-tl-3">
                  <h3 class="card-title text-white">Compliance</h3>
                  <div class="card-options ">
                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                      (click)="Collapsetoggle8()" [attr.aria-expanded]="!isCollapsed8"><i
                        class="fe text-white fe-chevron-{{ !isCollapsed8 ?  'up' : 'down'}}"></i></a>
                  </div>
                </div>
                <div [(ngbCollapse)]="isCollapsed8" style="margin-bottom: -20px;">
                  <div class="card-body">
                    <h6 class="font-weight-normal mb-3"><a href="" class="" routerLink="/stateWaiver/complaince">Complaince</a></h6>
                    <!-- <h6 class="font-weight-normal mb-3">Civil Penalty </h6>
                    <h6 class="font-weight-normal mb-3">Reports </h6> -->
                  </div>
                </div>
              </div>
            </div><!-- COL END -->


            <div class="col-md-12 col-lg-6">
              <div class="card" [(ngbCollapse)]="isClosed2">
                <div class="card-header bg-secondary br-tr-3 br-tl-3">
                  <h3 class="card-title text-white">Notification</h3>
                  <div class="card-options ">
                    <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                      (click)="Collapsetoggle2()" [attr.aria-expanded]="!isCollapsed2"><i
                        class="fe text-white fe-chevron-{{ !isCollapsed2 ?  'up' : 'down'}}"></i></a>
                  </div>
                </div>
                <div [(ngbCollapse)]="isCollapsed2" style="margin-bottom: -20px;">
                  <div class="card-body">
                    <h6 class="font-weight-normal mb-3"><a href="" class="" routerLink="/stateWaiver/notification">Notification</a></h6>
                    <h6 class="font-weight-normal mb-3">Unit Search</h6>
                    <h6 class="font-weight-normal mb-3">PLID Search</h6>
                  </div>
                </div>
              </div>
            </div><!-- COL END -->



          </div>



        </div>

    <div class="col-sm-12 col-md-6 col-lg-4">

      <div class="card overflow-hidden">
          <div class="card-body">
              <div class="main-content-label mg-b-5 " style="font-weight: bold;">
                  State Waiver
              </div>

              <div class="chartjs-wrapper-demo">


                  <canvas baseChart [data]="PieChartData" [options]="PieChartOptions"
                      [type]="PieChartType">
                  </canvas>
              </div>
          </div>
      </div>
     </div><!-- col-6 -->
    
    </div>



</div>




