<app-page-header title="Management" active_item="Add Employee"></app-page-header>

<h4 class="mb-5 mt-5">Employee Create</h4>
<form (ngSubmit)="AddEmployee(employeeModel)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="employeeModel.Name" name="name" placeholder="Enter Your Name" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="employeeModel.Age" name="age" placeholder="Enter Your Age" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="employeeModel.City" name="city" placeholder="Enter Your City" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="employeeModel.Salary" name="salary" placeholder="Enter Your Salary" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
