<app-page-header title="Widget"  active_item="widget"></app-page-header>
  <!-- ROW -->
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header pt-2 pb-0 border-bottom-0">
          <h6 class="mb-0">First call resolution</h6>
          <div class="card-options">
            <i class="fe fe-check-circle fs-20 text-primary"></i>
          </div>
        </div>
        <div class="card-body pt-0">
          <h2 class=" mb-2">
            <span class="number-font">55%</span>
            <span class="fs-12 text-muted">
              <span class="text-danger me-1">
              <i class="fe fe-arrow-down ms-1 "></i> 0.34%</span>  last week
            </span>
          </h2>
          <div class="progress h-1 mb-0">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-60" role="progressbar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header pt-2 pb-0 border-bottom-0">
          <h6 class="mb-0">Unresolved calls</h6>
          <div class="card-options">
            <i class="fe fe-x-circle text-secondary fs-20"></i>
          </div>
        </div>
        <div class="card-body pt-0">
          <h2 class=" mb-2 ">
            <span class="number-font">08%</span>
            <span class="fs-12 text-muted">
              <span class="text-success me-1">
              <i class="fe fe-arrow-up ms-1 "></i> 1.56%</span> last week
            </span>
          </h2>
          <div class="progress h-1 mb-0">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-60" role="progressbar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header pt-2 pb-0 border-bottom-0">
          <h6 class="mb-0">Avg Response time</h6>
          <div class="card-options">
            <i class="fe fe-clock fs-20 text-success"></i>
          </div>
        </div>
        <div class="card-body pt-0">
          <h2 class=" mb-2 ">
            <span class="number-font">5:38</span><small>s</small>
            <span class="fs-12 text-muted">
              <span class="text-danger me-1">
              <i class="fe fe-arrow-down ms-1 "></i> 0.12%</span>  last week
            </span>
          </h2>
          <div class="progress h-1 mb-0">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success w-60" role="progressbar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header pt-2 pb-0 border-bottom-0">
          <h6 class="mb-0">Best Day to call</h6>
          <div class="card-options">
            <i class="fe fe-calendar text-danger fs-20"></i>
          </div>
        </div>
        <div class="card-body pt-0">
          <h2 class=" mb-2 ">
            Mon
            <span class="fs-12 text-muted">
              <span class="text-danger me-1">
              <i class="fe fe-arrow-down ms-1 "></i>0.34%</span>  last week
            </span>
          </h2>
          <div class="progress h-1 mb-0">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger w-60" role="progressbar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End ROW -->

  <!-- ROW -->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body d-flex">
          <div class="card-order">
            <h6 class="mb-2">New users</h6>
            <h2 class="mb-1"><span class="number-font counter">5,897</span></h2>
            <p class="text-muted fs-12 mb-0">The daily changes the sales report<a href="javascript:void(0)"> View Details..</a></p>
          </div>
          <div class="ms-auto my-auto">
            <span class="bg-primary-transparent icon-service text-primary"><i class="mdi mdi-account-multiple"></i> </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <div class="card ">
        <div class="card-body d-flex">
          <div class="card-order">
            <h6 class="mb-2">Total Tax</h6>
            <h2 class="mb-1"><span class="number-font">$<span class="counter">12,786</span></span></h2>
            <p class="text-muted fs-12 mb-0">The daily changes the sales report<a href="javascript:void(0)"> View Details..</a></p>
          </div>
          <div class="ms-auto my-auto">
            <span class="bg-secondary-transparent icon-service text-secondary"><i class="mdi mdi-cube"></i> </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <div class="card">
        <div class="card-body d-flex">
          <div class="card-order">
            <h6 class="mb-2">Total Profit</h6>
            <h2 class="mb-1"><span class="number-font">$<span class="counter">23,032</span></span></h2>
            <p class="text-muted fs-12 mb-0">The daily changes the sales report<a href="javascript:void(0)"> View Details..</a></p>
          </div>
          <div class="ms-auto my-auto">
            <span class="bg-danger-transparent icon-service text-danger"><i class="mdi mdi-poll-box"></i> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End ROW -->

  <!-- ROW -->
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <i class="fa fa-line-chart text-primary fa-3x"></i>
          <h6 class="mt-4 mb-2">Total Revenue</h6>
          <h2 class="mb-1  number-font">$<span class="counter">34,516</span></h2>
          <p class="text-muted">Sed ut perspiciatis unde omnis  accusantium doloremque</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <i class="fa fa-money text-info fa-3x"></i>
          <h6 class="mt-4 mb-2">Marketing Spend</h6>
          <h2 class="mb-1 number-font">$<span class="counter">56,992</span></h2>
          <p class="text-muted">Sed ut perspiciatis unde omnis  accusantium doloremque</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <i class="fa fa-dollar text-success fa-3x"></i>
          <h6 class="mt-4 mb-2">Total Profit</h6>
          <h2 class="mb-1  number-font">$<span class="counter">42,567</span></h2>
          <p class="text-muted">Sed ut perspiciatis unde omnis accusantium doloremque</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <i class="fa fa-signal text-danger fa-3x"></i>
          <h6 class="mt-4 mb-2">Total Investiment</h6>
          <h2 class="mb-1  number-font"><span class="counter">57</span>%</h2>
          <p class="text-muted">Sed ut perspiciatis unde omnis  accusantium doloremque</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End ROW -->

  <!-- ROW -->
  <div class="row">
    <div class="col-xl-3 col-md-12 col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h6 class=""><span class="text-primary"><i class="fe fe-file-text me-2 fs-20"></i></span>Total Projects</h6>
          <h3 class="counter mt-0 mb-3 number-font">7,896</h3>
          <div class="progress h-1 mt-0 mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-70" role="progressbar"></div>
          </div>
          <div class="row mt-4">
            <div class="col text-center">
              <span class="text-muted">Weekly</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">8</h4>
            </div>
            <div class="col text-center">
              <span class="text-muted">Monthly</span>
              <h4 class="font-weight-normal mt-2 mb-0 number-font2">23</h4>
            </div>
            <div class="col text-center">
              <span class="text-muted">Total</span>
              <h4 class="font-weight-normal mt-2 mb-0 number-font3">31</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-6">
      <div class="card overflow-hidden">
        <div class="card-body text-center">
          <h6 class=""><span class="text-secondary"><i class="fe fe-users me-2 fs-20"></i></span>Total Employees</h6>
          <h3 class="counter mt-0 mb-3 number-font">2,897</h3>
          <div class="progress h-1 mt-0 mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-50" role="progressbar"></div>
          </div>
          <div class="row mt-4">
            <div class="col text-center">
              <span class="text-muted">Male</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">378</h4>
            </div>
            <div class="col text-center">
              <span class="text-muted">Female</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">689</h4>
            </div>
            <div class="col text-center">
              <span class="text-muted">Total</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">1,069</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-6">
      <div class="card overflow-hidden">
        <div class="card-body text-center">
          <h6 class=""><span class="text-success"><i class="fe fe-award me-2 fs-20"></i></span>Total awards</h6>
          <h3 class="counter mt-0 mb-3 number-font">1,567</h3>
          <div class="progress h-1 mt-0 mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success w-60" role="progressbar"></div>
          </div>
          <div class="row mt-4">
            <div class="col text-center">
              <span class="text-muted">Weekly</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">5</h4>
            </div>
            <div class="col text-center">
              <span class="text-muted">Monthly</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">20</h4>
            </div>
            <div class="col text-center">
              <span class="text-muted">Total</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">25</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-6">
      <div class="card overflow-hidden">
        <div class="card-body text-center">
          <h6 class=""><span class="text-danger"><i class="fe fe-tag me-2 fs-20"></i></span>Total Tasks</h6>
          <h3 class="counter mt-0 mb-3 number-font">4,293</h3>
          <div class="progress h-1 mt-0 mb-2">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger w-40" role="progressbar"></div>
          </div>
          <div class="row mt-4">
            <div class="col text-center">
              <span class="text-muted">Weekly</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">35</h4>
            </div>
            <div class="col text-center">
              <span class="text-muted">Monthly</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">56</h4>
            </div>
            <div class="col text-center">
              <span class="text-muted">Total</span>
              <h4 class="font-weight-normal mt-2 mb-0 ">91</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End  ROW -->

  <!-- ROW -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-sm-6 px-0 border-end">
            <div class="card-body text-center">
              <h6 class="mb-0">Gross profit Margin</h6>
              <h2 class="mb-1 mt-2 number-font"><span class="counter">77</span>%</h2>
              <p class="mb-2 text-muted"><span class="mb-0 text-danger fs-13 ms-1"><i class="fe fe-arrow-down"></i> 1.68%</span> for Last month</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-6 px-0 border-end">
            <div class="card-body text-center">
              <h6 class="mb-0">Opex Ratio</h6>
              <h2 class="mb-1 mt-2 number-font"><span class="counter">60</span>%</h2>
              <p class="mb-2 text-muted"><span class="mb-0 text-success fs-13 ms-1"><i class="fe fe-arrow-up"></i> 0.27%</span> for Last month</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-6 px-0 border-end">
            <div class="card-body text-center">
              <h6 class="mb-0">Operating Profit Margin</h6>
              <h2 class="mb-1 mt-2 number-font"><span class="counter">57</span>%</h2>
              <p class="mb-2 text-muted"><span class="mb-0 text-danger fs-13 ms-1"><i class="fe fe-arrow-down"></i> 0.87%</span> for Last month</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-6 px-0">
            <div class="card-body text-center">
              <h6 class="mb-0">Net Profit Margin</h6>
              <h2 class="mb-1 mt-2 number-font"><span class="counter">35</span>%</h2>
              <p class="mb-2 text-muted"><span class="mb-0 text-success fs-13 ms-1"><i class="fe fe-arrow-up"></i> 22%</span> for Last month</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End ROW -->

  <!-- ROW -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-order">
            <h6 class="mb-2">New users</h6>
            <h2 class="text-end "><i class="mdi mdi-account-multiple icon-size float-start text-primary"></i><span class="number-font">3,672</span></h2>
            <p class="mb-0">Monthly users<span class="float-end">50%</span></p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card ">
        <div class="card-body">
          <div class="card-widget">
            <h6 class="mb-2">Total Tax</h6>
            <h2 class="text-end"><i class="mdi mdi-cube icon-size float-start text-warning"></i><span class="number-font">$89,265</span></h2>
            <p class="mb-0">Monthly Income<span class="float-end">$7,893</span></p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="card-widget">
            <h6 class="mb-2">Total Profit</h6>
            <h2 class="text-end"><i class="icon-size mdi mdi-poll-box   float-start text-success"></i><span class="number-font">$23,987</span></h2>
            <p class="mb-0">Monthly Profit<span class="float-end">$4,678</span></p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card ">
        <div class="card-body">
          <div class="card-widget">
            <h6 class="mb-2">Total Sales</h6>
            <h2 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger"></i><span class="number-font">46,486</span></h2>
            <p class="mb-0">Monthly Sales<span class="float-end">3,756</span></p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
  </div>
  <!-- ROW END -->

  <!-- ROW OPEN -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card overflow-hidden">
        <div class="card-body pb-0">
          <div class="float-start">
            <p class="mb-1">Graph Profit Margin</p>
            <h2 class="counter mb-0 number-font">78%</h2>

          </div>
          <div class="float-end">
            <span class="mini-stat-icon bg-info"><i class="si si-eye "></i></span>
          </div>
        </div>
        <div class="card-body pt-0 border-top-0 overflow-hidden">
          <div class="chart-wrapper overflow-hidden">
            <div echarts class="areaChart overflow-hidden" id="areaChart11"  [options]="dataAttributes2"></div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body pb-0">
          <div class="float-start">
            <p class="mb-1">Opex Ratio</p>
            <h2 class="counter mb-0 number-font">4.5:8</h2>
          </div>
          <div class="float-end">
            <span class="mini-stat-icon bg-danger"><i class="si si-volume-2"></i></span>
          </div>
        </div>
        <div class="card-body pt-0 border-top-0 overflow-hidden">
          <div class="chart-wrapper ">
            <div echarts class="areaChart " id="areaChart2"  [options]="dataAttributes4"></div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body pb-0">
          <div class="float-start">
            <p class="mb-1">Operating Profit Margin</p>
            <h2 class="counter mb-0 number-font">22%</h2>
          </div>
          <div class="float-end">
            <span class="mini-stat-icon bg-warning"><i class="si si-chart"></i></span>
          </div>
        </div>
        <div class="card-body pt-0 border-top-0 overflow-hidden">
          <div class="chart-wrapper ">
            <div echarts class="areaChart"  id="areaChart3"  [options]="dataAttributes6"></div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body pb-0">
          <div class="float-start">
            <p class="mb-1">Net Profit Margin</p>
            <h2 class="counter mb-0 number-font">16%</h2>
          </div>
          <div class="float-end">
            <span class="mini-stat-icon bg-success"><i class="si si-user"></i></span>
          </div>
        </div>
        <div class="card-body pt-0 border-top-0 overflow-hidden">
          <div class="chart-wrapper ">
            <div echarts class="areaChart"  id="areaChart4"  [options]="dataAttributes7"></div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
  </div>
  <!-- ROW CLOSED -->

  <!-- ROW OPEN -->
  <div class="row row-cards">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-header pt-2 pb-0 border-bottom-0">
          <h3 class="card-title">Total Revenue</h3>
          <div class="card-options">
            <a class="btn btn-sm btn-primary" href="javascript:void(0)"><i class="fa fa-bar-chart mb-0"></i></a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h3 class="d-inline-block mb-2 number-font">46,789</h3>

            <p><ngb-progressbar class="progress h-2 mt-2 mb-2" type=" bg-primary " [value]="50" ></ngb-progressbar></p>
          <div class="float-start">
            <div class="mt-2">
              <i class="fa fa-caret-up text-success"></i>
              <span>12% increase</span>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-header pb-0 border-bottom-0">
          <h3 class="card-title">Total Requests</h3>
          <div class="card-options">
            <a class="btn btn-sm btn-secondary" href="javascript:void(0)"><i class="fa fa-send-o mb-0"></i></a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h3 class="d-inline-block mb-2 number-font">23,536</h3>
          <p><ngb-progressbar class="progress h-2 mt-2 mb-2" type=" bg-warning " [value]="50" ></ngb-progressbar></p>
          <div class="float-start">
            <div class="mt-2">
              <i class="fa fa-caret-down text-danger"></i>
              <span>5% decrease</span>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-header pb-0 border-bottom-0">
          <h3 class="card-title">Requests Answered</h3>
          <div class="card-options">
            <a class="btn btn-sm btn-info" href="javascript:void(0)"><i class="fa fa-mail-reply mb-0"></i></a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h3 class="d-inline-block mb-2 number-font">32,784</h3>
          <p><ngb-progressbar class="progress h-2 mt-2 mb-2" type=" bg-info " [value]="50" ></ngb-progressbar></p>
          <div class="float-start">
            <div class="mt-2">
              <i class="fa fa-caret-up text-info"></i>
              <span>10% increase</span>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-header pb-0 border-bottom-0">
          <h3 class="card-title">Support Cost</h3>
          <div class="card-options">
            <a class="btn btn-sm btn-danger" href="javascript:void(0)"><i class="fa fa-money mb-0"></i></a>
          </div>
        </div>
        <div class="card-body pt-0">
          <h3 class="d-inline-block mb-2 number-font">14,563</h3>
          <p><ngb-progressbar class="progress h-2 mt-2 mb-2" type=" bg-danger " [value]="50" ></ngb-progressbar></p>
          <div class="float-start">
            <div class="mt-2">
              <i class="fa fa-caret-down text-danger"></i>
              <span>15% decrease</span>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
  </div>
  <!-- ROW CLOSED -->

  <!-- ROW OPEN -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <small class="text-muted">Staff</small>
            <h2 class="mb-2 mt-0 number-font">450</h2>
            <circle-progress class="mt-3 mb-3" [percent]="75" [radius]="32" [space]="-5" [outerStrokeWidth]="5"
            [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#0052cc'"
            [innerStrokeColor]="'#e5e4e3'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000"
            [showImage]="true" [imageHeight]="12"
            [imageWidth]="12" >
          </circle-progress>
          <div id="circle" class="mt-3 mb-3"></div>
          <div class="chart-circle-value-3 text-primary fs-20"><i class="icon icon-people"></i></div>
          <p class="mb-0"><span class="dot-label bg-primary me-2"></span>Num of Employees</p>
        </div>
      </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="widget text-center">
            <small class="text-muted">Devices</small>
            <h2 class="mb-2 mt-0 number-font">485</h2>

            <circle-progress class="mt-3 mb-3" [percent]="75" [radius]="32" [space]="-5" [outerStrokeWidth]="5"
            [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#0099ff '"
            [innerStrokeColor]="'#e5e4e3'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000"
            [showImage]="true" [imageHeight]="12"
            [imageWidth]="12">
        </circle-progress>
        <div id="circle-1" class="mt-3 mb-3"></div>
            <div class="chart-circle-value-3 text-secondary fs-20"><i class="icon icon-screen-desktop"></i></div>
            <p class="mb-0"><span class="dot-label bg-secondary me-2"></span>Num of Devices</p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="widget text-center">
            <small class="text-muted">Licenses</small>
            <h2 class="mb-2 mt-0 number-font">256</h2>
            <circle-progress class="mt-3 mb-3" [percent]="75" [radius]="32" [space]="-5" [outerStrokeWidth]="5"
            [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#26c2f7'"
            [innerStrokeColor]="'#e5e4e3'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000"
            [showImage]="true" [imageHeight]="12"
            [imageWidth]="12">
        </circle-progress>
              <div id="circle-1" class="mt-3 mb-3"></div>
            <div id="circle-2" class="mt-3 mb-3"></div>
            <div class="chart-circle-value-3 text-info fs-20"><i class="icon icon-notebook"></i></div>
            <p class="mb-0"><span class="dot-label bg-info me-2"></span>7 licences about to expire</p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="widget text-center">
            <small class="text-muted">Running Cost</small>
            <h2 class="mb-2 mt-0 number-font">$32.759</h2>
            <circle-progress class="mt-3 mb-3" [percent]="75" [radius]="32" [space]="-5" [outerStrokeWidth]="5"
            [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#ff7088'"
            [innerStrokeColor]="'#e5e4e3'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000"
            [showImage]="true" [imageHeight]="12"
            [imageWidth]="12">
        </circle-progress>
            <div id="circle-3" class="mt-3 mb-3"></div>
            <div class="chart-circle-value-3 text-danger fs-20"><i class="icon icon-chart"></i></div>
            <p class="mb-0"><span class="dot-label bg-danger me-2"></span>Total Running Cost</p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
  </div>
  <!-- ROW CLOSED -->

  <!-- ROW OPEN -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card widgets-cards bg-primary">
        <div class="card-body d-flex justify-content-center align-items-center">
          <circle-progress class="chart-circle chart-circle-sm me-5 mt-1  " [percent]="70" [radius]="72" [space]="-10" [outerStrokeWidth]="10"
          [innerStrokeWidth]="10" [showInnerStroke]="true" [outerStrokeColor]="'#3b45f9'" [titleColor]="'#ffff'"
          [innerStrokeColor]="'#ffff'" [titleFontSize]="'32'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
          </circle-progress>
          <div class="wrp text-wrapper text-white">
            <p class="mt-0 number-font">$8758</p>
            <p class="mt-1 mb-0">This Week Orders</p>

          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-xl-3 ">
      <div class="card widgets-cards bg-warning">
        <div class="card-body d-flex justify-content-center align-items-center">
          <circle-progress class="chart-circle chart-circle-sm me-5 mt-1  " [percent]="17" [radius]="72" [space]="-10" [outerStrokeWidth]="10"
          [innerStrokeWidth]="10" [showInnerStroke]="true" [outerStrokeColor]="'#808080'" [titleColor]="'#ffff'"
          [innerStrokeColor]="'#ffff'" [titleFontSize]="'32'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
          </circle-progress>
          <div class="wrp text-wrapper text-white">
            <p class="mt-0 number-font">6477</p>
            <p class=" mt-1 mb-0">This Week Views</p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-xl-3 ">
      <div class="card widgets-cards bg-info">
        <div class="card-body d-flex justify-content-center align-items-center">
          <circle-progress class="chart-circle chart-circle-sm me-5 mt-1  " [percent]="42" [radius]="72" [space]="-10" [outerStrokeWidth]="10"
          [innerStrokeWidth]="10" [showInnerStroke]="true" [outerStrokeColor]="'#17aadc'" [titleColor]="'#ffff'"
          [innerStrokeColor]="'#ffff'" [titleFontSize]="'32'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
          </circle-progress>
          <div class="wrp text-wrapper text-white">
            <p class="mt-0 number-font">7847</p>
            <p class=" mt-1 mb-0">This Week Earnings</p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-md-6 col-xl-3 ">
      <div class="card widgets-cards bg-danger">
        <div class="card-body d-flex justify-content-center align-items-center">
          <circle-progress class="chart-circle chart-circle-sm me-5 mt-1  " [percent]="37" [radius]="72" [space]="-10" [outerStrokeWidth]="10"
          [innerStrokeWidth]="10" [showInnerStroke]="true" [outerStrokeColor]="'#c21a1a'" [titleColor]="'#ffff'"
          [innerStrokeColor]="'#ffff'" [titleFontSize]="'32'" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
          </circle-progress>
          <div class="wrp text-wrapper text-white">
            <p class="mt-0 number-font">345</p>
            <p class=" mt-1 mb-0">This Week Comments</p>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-xl-3 col-md-6">
      <div class="card card-img-holder text-default bg-color">
        <div class="row">
          <div class="col-4">
            <div class="circle-icon bg-primary-gradient text-center align-self-center shadow-primary"><img src="./assets/images/svgs/circle.svg" alt="img" class="card-img-absolute"><i class= "lnr lnr-user fs-30  text-white mt-4"></i></div>
          </div>
          <div class="col-8">
            <div class="card-body p-4">
              <h1 class="mb-3 number-font">17,533</h1>
              <h5 class="font-weight-normal mb-0">Followers</h5>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-xl-3 col-md-6">
      <div class="card card-img-holder text-default">
        <div class="row">
          <div class="col-4">
            <div class="card-img-absolute circle-icon bg-secondary-gradient align-items-center text-center shadow-secondary"><img src="./assets/images/svgs/circle.svg" alt="img" class="card-img-absolute"><i class= "lnr lnr-heart fs-30 text-white mt-4"></i></div>
          </div>
          <div class="col-8">
            <div class="card-body p-4">
              <h1 class="mb-3 number-font">10,257</h1>
              <h5 class="font-weight-normal mb-0">Likes</h5>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-xl-3 col-md-6">
      <div class="card card-img-holder text-default">
        <div class="row">
          <div class="col-4">
            <div class="card-img-absolute  circle-icon bg-info-gradient align-items-center text-center shadow-info"><img src="./assets/images/svgs/circle.svg" alt="img" class="card-img-absolute"><i class= "lnr lnr-bubble fs-30 text-white mt-4"></i></div>
          </div>
          <div class="col-8">
            <div class="card-body p-4">
              <h1 class="mb-3 number-font">87</h1>
              <h5 class="font-weight-normal mb-0">Comments</h5>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-sm-12 col-xl-3 col-md-6">
      <div class="card card-img-holder text-default">
        <div class="row">
          <div class="col-4">
            <div class="card-img-absolute circle-icon bg-success-gradient align-items-center text-center shadow-success"><img src="./assets/images/svgs/circle.svg" alt="img" class="card-img-absolute"><i class= " lnr lnr-envelope fs-30 text-white mt-4 "></i></div>
          </div>
          <div class="col-8">
            <div class="card-body p-4">
              <h1 class="mb-3 number-font">485</h1>
              <h5 class="font-weight-normal mb-0">Posts</h5>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
  </div>
  <!-- ROW CLOSED -->

  <!-- ROW OPEN -->
  <div class="row ">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Skill Set</div></div>
          <div class="card-body mt-0">
            <div class="chats-wrap media-list">
            <div class="chat-details mb-1 p-2">
              <h4 class="mb-0">
                <span class="h5 font-weight-normal">Html</span>
                <span class="float-end p-1  btn btn-sm text-default">
                <b class="">85</b>%</span>
              </h4>
              <p><ngb-progressbar class="progress progress-sm mt-3" type=" bg-primary " [value]="85" height="10px"></ngb-progressbar></p>


            </div>
            <div class="chat-details mb-1 p-2">
              <h4 class="mb-0">
                <span class="h5 font-weight-normal"> Wordpress</span>
                <span class="float-end p-1  btn btn-sm text-default">
                <b class="">46</b>%</span>
              </h4>
              <p><ngb-progressbar class="progress progress-sm mt-3" type=" bg-info " [value]="46" height="10px"></ngb-progressbar></p>

              <!-- <div class="progress progress-sm mt-3">
                <div class="progress-bar bg-info w-45"></div>
              </div> -->
            </div>
            <div class="chat-details mb-1 p-2">
              <h4 class="mb-0">
                <span class="h5 font-weight-normal"> jQuery</span>
                <span class="float-end p-1  btn btn-sm text-default">
                <b class="">56</b>%</span>
              </h4>
              <p><ngb-progressbar class="progress progress-sm mt-3" type=" bg-secondary " [value]="65" height="10px"></ngb-progressbar></p>
            </div>
            <div class="chat-details mb-1 p-2">
              <h4 class="mb-0">
                <span class="h5 font-weight-normal"> Photoshop</span>
                <span class="float-end p-1  btn btn-sm text-default">
                <b class="">90</b>%</span>
              </h4>
              <p><ngb-progressbar class="progress progress-sm mt-3" type=" bg-info" [value]="75" height="10px"></ngb-progressbar></p>
            </div>
            <div class="chat-details mb-1 p-2">
              <h4 class="mb-0">
                <span class="h5 font-weight-normal">CSS</span>
                <span class="float-end p-1  btn btn-sm text-default">
                <b class="">85</b>%</span>
              </h4>
              <p><ngb-progressbar class="progress progress-sm mt-3" type=" bg-danger " [value]="85" height="10px"></ngb-progressbar></p>


            </div>

          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-md-12 col-sm-12 col-lg-8">
      <div class="demo-gallery card">
        <div class="card-header">
          <div class="card-title">Best Pictures for Today</div>
        </div>
        <div class="card-body">
          <ul id="lightgallery" class="list-unstyled row" >
            <li *ngFor="let img of imagesRect" class="col-xs-6 col-sm-4 col-md-4 col-xl-3 mb-5 border-bottom-0"  data-responsive="./assets/images/photos/1.jpg" data-src="./assets/images/photos/1.jpg" data-sub-html="<h4>Gallery Image 1</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
              <a href="javascript:void(0)">
                <img class="img-responsive rounded-3" [src]="img.modal.img" alt="Thumb-1" (click)="openImageModalRowDescription(2, img)">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- COL END -->
  </div>
  <!-- ROW CLOSED -->

  <!-- ROW OPEN -->
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">User feedback</h3>
        </div>
        <div class="table-responsive ">
          <table class="table card-table table-vcenter text-nowrap mb-0 ">
            <thead>
              <tr>
                <th>Id</th>
                <th colspan="2">User</th>
                <th>Feed back</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let users of UserData">
                <td class="">{{users.id}}</td>
                <td><img class="avatar brround cover-image" src={{users.image}}></td>
                <td>{{users.name}}</td>
                <td>{{users.feedback}} </td>
                <td class="text-nowrap">{{users.date}}</td>

                <td class="icon w-1"(click)="click(users.id)"> <i class="fa fa-trash-o text-danger"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-md-12 col-lg-4 ">
      <div class="card ">
        <div class="weather-card one">
          <div class="top">
            <div class="wrapper">
              <div class="mynav">
                <a routerLink="/dashboard/sales" href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                <a routerLink="/switcher-one-route"href="javascript:;"><span class="lnr lnr-cog"></span></a>
              </div>
              <h1 class="heading">Clear night</h1>
              <h3 class="location">Toronto, Canada</h3>
              <p class="temp">
                <span class="temp-value ">30</span>
                <span class="deg">0</span>
                <a href="javascript:;"><span class="temp-type">C</span></a>
              </p>
            </div>
          </div>
          <div class="bottom">
            <div class="wrapper">
              <ul class="forecast">
                <li routerLink="/dashboard/sales" class="lnr lnr-chevron-up go-up"></li>
                <li class="active">
                  <span class="date">Yesterday</span>
                  <span class="lnr lnr-sun condition">
                    <span class="temp ">28<span class="deg">0</span><span class="temp-type">C</span></span>
                  </span>
                </li>
                <li>
                  <span class="date">Tomorrow</span>
                  <span class="lnr lnr-cloud condition">
                    <span class="temp ">32<span class="deg">0</span><span class="temp-type">C</span></span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-md-12 col-lg-6 col-xl-4">
      <div class="card">
        <div class="card-header border-bottom">
          <h5 class="card-title">Sales Summary</h5>
        </div>
        <div class="card-body">
          <div class="clearfix row mb-4">
            <div class="col">
              <div class="float-start">
                <h5 class="mb-0">Total Revenue</h5>
                <small class="text-muted">weekly profit</small>
              </div>
            </div>
            <div class="col">
              <div class="float-end">
                <h5 class="font-weight-bold mb-0 mt-2 text-primary ">$15300</h5>
              </div>
            </div>
          </div>
          <div class="clearfix row mb-4">
            <div class="col">
              <div class="float-start">
                <h5 class="mb-0">Total Tax</h5>
                <small class="text-muted">weekly profit</small>
              </div>
            </div>
            <div class="col">
              <div class="float-end">
                <h5 class="font-weight-bold mt-2 mb-0 text-success ">$1625</h5>
              </div>
            </div>
          </div>
          <div class="clearfix row mb-4">
            <div class="col">
              <div class="float-start">
                <h5 class="mb-0">Total Income</h5>
                <small class="text-muted">weekly profit</small>
              </div>
            </div>
            <div class="col">
              <div class="float-end">
                <h5 class="font-weight-bold mt-2 mb-0 text-warning ">70%</h5>
              </div>
            </div>
          </div>
          <div class="clearfix row mb-4">
            <div class="col">
              <div class="float-start">
                <h5 class="mb-0">Total Income</h5>
                <small class="text-muted">weekly profit</small>
              </div>
            </div>
            <div class="col">
              <div class="float-end">
                <h5 class="font-weight-bold mt-2 mb-0 text-danger ">50%</h5>
              </div>
            </div>
          </div>
          <div class="clearfix row mb-0">
            <div class="col">
              <div class="float-start">
                <h5 class="mb-0">Total Loss</h5>
                <small class="text-muted">weekly profit</small>
              </div>
            </div>
            <div class="col">
              <div class="float-end">
                <h5 class="font-weight-bold mt-2 mb-0 text-secondary ">30%</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-lg-6 col-xl-4 col-md-12">
      <div class="card ">
        <div class="card-header"><h5 class="card-title">Visitors</h5></div>
        <div class="card-body">
          <div class="d-flex mb-5">
            <a href="javascript:void(0)">
              <img class="media-object rounded-circle avatar avatar-md me-3" alt="img" src="./assets/images/users/female/8.jpg">
            </a>
            <div class="">
              <a href="javascript:void(0)" class="text-dark">Nathaniel Bustos</a>
              <p class="text-muted">Manager</p>
            </div>
            <button type="button" class="btn btn-primary btn-sm ms-auto my-auto">Follow</button>
          </div>
          <div class="d-flex mb-5">
            <a href="javascript:void(0)">
              <img class="media-object rounded-circle avatar avatar-md me-3" alt="img" src="./assets/images/users/female/4.jpg">
            </a>
            <div class="">
              <a href="javascript:void(0)" class="text-dark">Latanya Kinard</a>
              <div class="text-muted small">Web Designer</div>
            </div>
            <button type="button" class="btn btn-secondary btn-sm ms-auto my-auto">Follow</button>
          </div>
          <div class="d-flex mb-5">
            <a href="javascript:void(0)">
              <img class="media-object rounded-circle avatar avatar-md me-3" alt="img" src="./assets/images/users/male/2.jpg">
            </a>
            <div class="">
              <a href="javascript:void(0)" class="text-dark">George Lujan</a>
              <div class="text-muted small">Founder</div>
            </div>
            <button type="button" class="btn btn-success btn-sm ms-auto my-auto">Follow</button>
          </div>
          <div class="d-flex mb-0">
            <a href="javascript:void(0)">
              <img class="media-object rounded-circle avatar avatar-md me-3" alt="img" src="./assets/images/users/female/9.jpg">
            </a>
            <div class="">
              <a href="javascript:void(0)" class="text-dark">Samantha</a>
              <div class="text-muted small">Manager</div>
            </div>
            <button type="button" class="btn btn-danger btn-sm ms-auto my-auto">Follow</button>
          </div>
        </div>
      </div>
    </div><!-- COL END -->
    <div class="col-lg-12 col-xl-4 col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="card-title">Projects</h2>
        </div>
        <div class="card-body">
            <circle-progress class="mx-auto chart-circle chart-circle-md mt-3 mb-4 text-center" [percent]="75" [radius]="82" [space]="-14" [outerStrokeWidth]="14"
          [innerStrokeWidth]="14" [showInnerStroke]="true" [outerStrokeColor]="'#0052cc'"
          [innerStrokeColor]="'#edf0f5'" [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [animation]="true" [animationDuration]="1000">
      </circle-progress>
          <div class="text-center mt-3 ">
            <h3>Average Sales</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi.</p>
            <div class="col p-1 mt-2">
              <div class="float-start">
                  <h3 class="ms-5 mb-1"><i class="fa fa-caret-up fa-1x text-success me-1"></i><span class="">$3.2</span></h3>
                  <p class="ms-5 pb-0 mb-0">last month</p>
              </div>
              <div class="float-end">
                  <h3 class="me-5 mb-1"><i class="fa fa-caret-up fa-1x text-success me-1 "></i><span class="">$2.4</span></h3>
                  <p class="me-5 mt-0 mb-0">last year</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- COL END -->

  </div>
  <!-- ROW CLOSED -->

