.custom-icons{
  color: white; font-size: 30px; padding: 0em 0.5em 0em 0px;

}

.carded-padding{
  padding-left: 14px;
  padding-right: 14px;
}

.icon-padding{
  font-size: 8px;
  padding: 0px 5px 0px 5px;
  margin:0;
}
