<div class="d-flex responsive-margin" >

<ol class="breadcrumb1">
    <li class="breadcrumb-item1"><a href="javascript:void(0)">Home</a></li>
</ol>

<div class="ms-auto mt-2">
        <a href="javascript:void(0)" class="text-primary" style="font-weight: bold; font-size: 15px;" >
             <!--{{ dateObj | date:'fullDate' }}--> Sunday, January 1, 2023
        </a>
</div>


</div>

<!-- ROW OPEN -->
<div class="row" >
    <div class="col-lg-6">
      <div class="row mb-0">
        <div class="col-md-12 col-lg-6">
          <div class="card" [(ngbCollapse)]="isClosed1">
            <div class="card-header bg-primary br-tr-3 br-tl-3">
              <h3 class="card-title text-white ">Program Status</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle1()" [attr.aria-expanded]="!isCollapsed1"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed1 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed1">
              <div class="card-body">
                <h6 class="font-weight-normal mb-3">Statistics</h6>
                <h6 class="font-weight-normal mb-3">Trends</h6>
              </div>
              <div style="margin-bottom: 73px;"></div>
            </div>
          </div>
        </div><!-- COL END -->



        <div class="col-md-12 col-lg-6">
          <div class="card" [(ngbCollapse)]="isClosed4">
            <div class="card-header bg-success br-tr-3 br-tl-3">
              <h3 class="card-title text-white">Investigation</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle4()" [attr.aria-expanded]="!isCollapsed4"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed4 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed4" style="margin-bottom: -20px;">
              <div class="card-body">
                <h6 class="font-weight-normal mb-3">Spill Notification</h6>
                <h6 class="font-weight-normal mb-3">Accident Records</h6>
                <h6 class="font-weight-normal mb-3">Accident Inv Data Req</h6>
              </div>
              <div style="margin-bottom: 65px;"></div>
            </div>
          </div>
        </div><!-- COL END -->

        <div class="col-md-12 col-lg-6">
          <div class="card" [(ngbCollapse)]="isClosed8">
            <div class="card-header bg-cyan br-tr-3 br-tl-3">
              <h3 class="card-title text-white">Enforcement</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle8()" [attr.aria-expanded]="!isCollapsed8"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed8 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed8" style="margin-bottom: -20px;">
              <div class="card-body">
                <h6 class="font-weight-normal mb-3">Compliance Actions</h6>
                <h6 class="font-weight-normal mb-3">Civil Penalty </h6>
                <h6 class="font-weight-normal mb-3">Reports </h6>
              </div>
            </div>
          </div>
        </div><!-- COL END -->


        <div class="col-md-12 col-lg-6">
          <div class="card" [(ngbCollapse)]="isClosed2">
            <div class="card-header bg-secondary br-tr-3 br-tl-3">
              <h3 class="card-title text-white">Pipeline</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle2()" [attr.aria-expanded]="!isCollapsed2"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed2 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed2" style="margin-bottom: -20px;">
              <div class="card-body">
                <h6 class="font-weight-normal mb-3">Operator Search</h6>
                <h6 class="font-weight-normal mb-3">Unit Search</h6>
                <h6 class="font-weight-normal mb-3">PLID Search</h6>
              </div>
            </div>
          </div>
        </div><!-- COL END -->

        <div class="col-md-12 col-lg-6">
          <div class="card" [(ngbCollapse)]="isClosed5">
            <div class="card-header bg-gray br-tr-3 br-tl-3">
              <h3 class="card-title text-white">State Waiver</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle5()" [attr.aria-expanded]="!isCollapsed5"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed5 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed5" style="margin-bottom: 48px;">
              <div class="card-body">
                <h6 class="font-weight-normal mb-3">Overview</h6>
                <h6 class="font-weight-normal mb-3">Data Requests</h6>
                <h6 class="font-weight-normal mb-3">Compliance</h6>

              </div>
            </div>
          </div>
        </div><!-- COL END -->




        <div class="col-md-12 col-lg-6">
          <div class="card" [(ngbCollapse)]="isClosed3">
            <div class="card-header bg-warning br-tr-3 br-tl-3">
              <h3 class="card-title text-white">Inspection</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle3()" [attr.aria-expanded]="!isCollapsed3"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed3 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed3" style="margin-bottom: 5px;">
              <div class="card-body">
                <h6 class="font-weight-normal mb-3">Assignments</h6>
                <h6 class="font-weight-normal mb-3">Planning</h6>
                <h6 class="font-weight-normal mb-3">Training</h6>
                <h6 class="font-weight-normal mb-3">Deferrals</h6>
                <h6 class="font-weight-normal mb-">CBAT</h6>
              </div>
            </div>
          </div>
        </div><!-- COL END -->



        <div class="col-md-12 col-lg-6">
          <div class="card" [(ngbCollapse)]="isClosed7">
            <div class="card-header bg-info br-tr-3 br-tl-3">
              <h6 class="card-title text-white">Integrity Management</h6>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle7()"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed7 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed7" style="margin-bottom: -10px;">
              <div class="card-body">
                <h6 class="font-weight-normal mb-3">Compliance Actions</h6>
                <h6 class="font-weight-normal mb-3">Civil Penalty Management</h6>
                <h6 class="font-weight-normal mb-3">Document Management</h6>
                <h6 class="font-weight-normal mb-3">Reporting & Analytics</h6>
              </div>
            </div>
          </div>
        </div><!-- COL END -->

        <div class="col-md-12 col-lg-6">
          <div class="card" [(ngbCollapse)]="isClosed10">
            <div class="card-header bg-gray br-tr-3 br-tl-3">
              <h3 class="card-title text-white">Calfire Portal</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle10()" [attr.aria-expanded]="!isCollapsed10"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed10 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed10" style="margin-bottom: -10px;">
              <div class="card-body">
                <h6 class="font-weight-normal mb-3">Annual Reporting</h6>
                <h6 class="font-weight-normal mb-3">Integrity Testing</h6>
                <h6 class="font-weight-normal mb-3">Hydrostatic Testing</h6>
                <h6 class="font-weight-normal mb-3">Billing and Applications</h6>
              </div>
              <div style="margin-bottom: 15px;"></div>
            </div>
          </div>
        </div><!--Col End-->


      </div>



    </div>







<div class="col-lg-6">
          <div class="card" [(ngbCollapse)]="isClosed21">
           <div class="card-status bg-green br-tr-7 br-tl-7"></div>
            <div class="card-header border-bottom">
              <h6 class="card-title ">Announcement</h6>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle21()" [attr.aria-expanded]="!isCollapsed21"><i
                    class="fe text-primary fe-chevron-{{ !isCollapsed21 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed21">

                <ul class="list-group">
                                        <li class="list-group-item font-weight-500"> <span class="badge bg-primary  me-1 my-1">01-12-2023 , 3:05 PM</span> <br> The CAL FIRE – Office of the State Fire Marshal (OSFM) has regulatory authority over
                                           intrastate hazardous liquid pipeline operators in California.</li>
                                      <li class="list-group-item font-weight-500"> <span class="badge bg-primary  me-1 my-1">05-12-2023 , 12:05 PM</span> <br> The OSFM Pipeline Safety
                                            Program investigates pipeline releases.</li>
                                      <li class="list-group-item font-weight-500"> <span class="badge bg-primary  me-1 my-1">05-12-2023 , 1:10 PM</span> <br> A Pipeline accident at Refugio Beach in Santa Barbara County spilled over
                                        100,000 gallons of crude oil and impacted over 25 miles of coastline and ocean water.</li>
                                      <li class="list-group-item font-weight-500 mt-3" style="padding-bottom: 42.5px;" > <span class="badge bg-primary  me-1 my-1">21-05-2021 , 4:30 PM</span> <br> A ransomware attack on a pipeline operator</li>

                </ul>
                
            </div>
            <div class="pagination-wrapper m-2 d-flex justify-content-end">
              <nav aria-label="Page navigation">
                <ul class="pagination mb-0">
                  <li class="page-item">
                    <a aria-label="Next" class="page-link" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
                  </li>
                  <li class="page-item">
                    <a aria-label="Next" class="page-link" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
  </div>
</div>

