<app-page-header title="Home"  active_item="Dashboards"></app-page-header>

<!-- ROW OPEN -->
  <div class="row">
    <div class="col-xl-8">
      <div class="row">
        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed1">
            <div class="card-header bg-primary br-tr-3 br-tl-3">
              <i class="fa fa-bar-chart-o custom-icons"></i>
              <h3 class="card-title text-white ">Program Status</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle1()" [attr.aria-expanded]="!isCollapsed1"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed1 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed1">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Statistics</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Trends</h5>
              </div>
            </div>
          </div>
        </div><!-- COL END -->



        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed4">
            <div class="card-header bg-success br-tr-3 br-tl-3">
              <i class="mdi mdi-account-search " style="padding-left: 14px; padding-right: 14px; color: white; font-size: 30px; "></i>
              <h3 class="card-title text-white">Investigation</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle4()" [attr.aria-expanded]="!isCollapsed4"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed4 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed4">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Spill Notification</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Accident Records</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Accident Investigation Data Request</h5>
              </div>
            </div>
          </div>
        </div><!-- COL END -->

        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed8">
            <div class="card-header bg-cyan br-tr-3 br-tl-3">
              <i class="fa fa-paper-plane custom-icons"></i>
              <h3 class="card-title text-white">Enforcement</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle8()" [attr.aria-expanded]="!isCollapsed8"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed5 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed8">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Compliance Actions</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Civil Penalty </h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Reports </h5>
              </div>
            </div>
          </div>
        </div><!-- COL END -->


        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed3">
            <div class="card-header bg-warning br-tr-3 br-tl-3">
              <i class="fa fa-clipboard custom-icons"></i>
              <h3 class="card-title text-white">Inspection</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle3()" [attr.aria-expanded]="!isCollapsed3"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed3 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed3">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Assignments</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Planning</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Training</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Deferrals</h5>
                <h5 class="font-weight-normal mb-"><i class="fa fa-circle icon-padding"></i>CBAT</h5>
              </div>
            </div>
          </div>
        </div><!-- COL END -->



        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed7">
            <div class="card-header bg-info br-tr-3 br-tl-3">
              <i class="mdi mdi-account-check" style="padding-left: 14px; padding-right: 14px; color:white; font-size:25px;"></i>
              <h3 class="card-title text-white">Integrity Management</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle7()" [attr.aria-expanded]="!isCollapsed7"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed7 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed7">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Compliance Actions</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Civil Penalty Management</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Document Management</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Reporting & Analytics</h5>
              </div>
            </div>
          </div>
        </div><!-- COL END -->

        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed10">
            <div class="card-header bg-gray br-tr-3 br-tl-3">
              <i class="fa fa-mail-reply custom-icons"></i>
              <h3 class="card-title text-white">Calfire Portal</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle10()" [attr.aria-expanded]="!isCollapsed10"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed10 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed10">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Annual Reporting</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Integrity Testing</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Hydrostatic Testing</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Billing and Applications</h5>
              </div>
            </div>
          </div>
        </div><!--Col End-->



        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed6">
            <div class="card-header bg-green br-tr-3 br-tl-3">
              <i class="fa fa-map custom-icons"></i>
              <h3 class="card-title text-white">Mapping System</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle6()" [attr.aria-expanded]="!isCollapsed6"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed6 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed6">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Production Maps</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>GIS Dashboard Management</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Map Applications</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- COL END -->








        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed9">
            <div class="card-header bg-yellow br-tr-3 br-tl-3">
              <i class="fa fa-folder custom-icons"></i>
              <h3 class="card-title text-white">Document Library</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle9()" [attr.aria-expanded]="!isCollapsed9"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed9 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed9">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>File Storage</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Data Relationships</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Access Management</h5>
              </div>
            </div>
          </div>
        </div><!--Col End-->





        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed2">
            <div class="card-header bg-secondary br-tr-3 br-tl-3">
              <i class="fa fa-droplet custom-icons"></i>
              <h3 class="card-title text-white">Pipeline</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle2()" [attr.aria-expanded]="!isCollapsed2"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed2 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed2">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Operator Search</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>IU Search</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Edit Date</h5>
              </div>
            </div>
          </div>
        </div><!-- COL END -->



        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed11">
            <div class="card-header bg-red br-tr-3 br-tl-3">
              <i class="fa fa-user custom-icons"></i>
              <h3 class="card-title text-white">Admin</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle11()" [attr.aria-expanded]="!isCollapsed11"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed11 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed11">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>User Roles</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Change Management</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Billing</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xl-4">
          <div class="card" [(ngbCollapse)]="isClosed5">
            <div class="card-header bg-gray br-tr-3 br-tl-3">
              <i class="fa fa-paper-plane custom-icons"></i>
              <h3 class="card-title text-white">State Waiver</h3>
              <div class="card-options ">
                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"
                  (click)="Collapsetoggle5()" [attr.aria-expanded]="!isCollapsed5"><i
                    class="fe text-white fe-chevron-{{ !isCollapsed5 ?  'up' : 'down'}}"></i></a>
              </div>
            </div>
            <div [(ngbCollapse)]="isCollapsed5">
              <div class="card-body">
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Overview</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Metrics</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Data Requests</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Compliance</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Documents Repository</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Notifications</h5>
                <h5 class="font-weight-normal mb-3"><i class="fa fa-circle icon-padding"></i>Reporting</h5>
              </div>
            </div>
          </div>
        </div><!-- COL END -->


      </div>



    </div>

    <!--COL END-->



    <div class="col-xl-4 col-md-12" >
      <div class="card overflow-hidden">
        <div class="card-header">
          <div class="card-title mb-0">Activity Log</div>
        </div>
        <div class="card-body" style="padding-bottom: 57.5px;">
          <ul class="task-list">
            <li>
              <i class="task-icon bg-primary"></i>
              <div class="d-flex">
                <div class="">
                  <p class="mb-0"><span class="font-weight-500">New Task</span> added to the project.</p>
                  <small class="text-muted">Just now</small>
                </div>
                <div class="ms-auto float-end">
                  <a href="javascript:void(0)" class="btn btn-primary-light btn-sm">View</a>
                </div>
              </div>
            </li>
            <li>
              <i class="task-icon bg-secondary"></i>
              <div class="d-flex">
                <div class="">
                  <p class="mb-0"><span class="font-weight-500">New File</span> Uploaded to the project.</p>
                  <small class="text-muted">09:20 AM</small>
                </div><div class="ms-auto float-end">
                  <a href="javascript:void(0)" class="btn btn-primary-light btn-sm">View</a>
                </div>
              </div>
            </li>
            <li>
              <i class="task-icon bg-danger"></i>
              <div class="d-flex">
                <div class="">
                  <p class="mb-0"><span class="font-weight-500">Mary Perk</span> Found A New Bug.</p>
                  <small class="text-muted">05 Mar 2022</small>
                </div>
                <div class="ms-auto float-end">
                  <a href="javascript:void(0)" class="btn btn-primary-light btn-sm">View</a>
                </div>
              </div>
            </li>
            <li>
              <i class="task-icon bg-success"></i>
              <div class="d-flex">
                <div class="">
                  <p class="mb-0"><span class="font-weight-500">New Member</span> Added To The Project.</p>
                  <small class="text-muted">10 Mar 2022</small>
                </div>
                <div class="ms-auto float-end">
                  <a href="javascript:void(0)" class="btn btn-primary-light btn-sm">View</a>
                </div>
              </div>
            </li>
            <li>
              <i class="task-icon bg-orange"></i>
              <div class="d-flex">
                <div class="">
                  <p class="mb-0"><span class="font-weight-500">Task Completed</span> Successfully by Team</p>
                  <small class="text-muted">20 Apr 2022</small>
                </div>
                <div class="ms-auto float-end">
                  <a href="javascript:void(0)" class="btn btn-primary-light btn-sm">View</a>
                </div>
              </div>
            </li>
            <li>
              <i class="task-icon bg-cyan"></i>
              <div class="d-flex">
                <div class="">
                  <p class="mb-0"><span class="font-weight-500">Task Assigned</span> to Project Team Leader.</p>
                  <small class="text-muted">27 Apr 2022</small>
                </div>
                <div class="ms-auto float-end">
                  <a href="javascript:void(0)" class="btn btn-primary-light btn-sm">View</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>








