<app-page-header title="Home" active_item="Program Status" active_item2="Dashboard"></app-page-header>


<div class="row row-sm">
  <div class="col-lg-6 col-md-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mg-b-20">
          <div class="card-body">
              <div class="main-content-label mg-b-5" style="display: flex;justify-content: center;">
                  <h3>INFRASTRUCTURE</h3>
              </div>

              <div echarts  [options]="echartPieOption" class="mb-4"></div>


            <div style="display: flex; justify-content: center; padding-bottom: 120px;">
              <ul>
                <li>Total Pipelines</li>
                <li>Total Mileage</li>
                <li>Total BOTs</li>
                <li>Total Operators</li>
                <li>Total Inspection Units</li>
                <li>Total High Risk Lines</li>
              </ul>
            </div>
            </div>






          </div>
      </div>

                  <div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <div echarts [options]="echartBasicLine"></div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <div echarts [options]="echartSmoothLine"></div>
    </div>
  </div>
</div>



      </div>
    </div>



      <div class="col-lg-6 col-md-12">
        <div class="card mg-b-20">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    <h3>ACTIVITIES</h3>
                </div>
                <div class="card-body">
                  <p>May 2022 Activity Days Report</p>
                        <div class="table-responsive">
                          <table class="table border card-table table-vcenter text-nowrap">
                            <thead class="thead-light">
                              <tr>
                                <th>Inspector</th>
                                <th>Total Days</th>
                                <th>Months as Inspector in 2022</th>
                                <th>Employee % Time</th>
                                <th>Month x % Time</th>
                                <th>Expected YTD days</th>
                                <th>Total Days/Expected YTD Days</th>
                                <th>Total Day/85</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Aimee Cauguiran</th>
                                <td>32.5</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >92%</td>
                                <td >38%</td>
                              </tr>
                              <tr>
                                <th scope="row">Al Giese</th>
                                <td>31</td>
                                <td>5</td>
                                <td >1  00%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >88%</td>
                                <td >38%</td>
                              </tr>
                              <tr>
                                <th scope="row">Alula Gebrmendhin</th>
                                <td>18</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >51%</td>
                                <td >21%</td>
                              </tr>
                              <tr>
                                <th scope="row">Bita Emani</th>
                                <td>32.5</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >92%</td>
                                <td >38%</td>
                              </tr>
                              <tr>
                                <th scope="row">Bob Gorham</th>
                                <td>44.5</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >2.50</td>
                                <td >17.71</td>
                                <td >0%</td>
                                <td >0%</td>
                              </tr>
                              <tr>
                                <th scope="row">Chuck MacDonald</th>
                                <td>17.825</td>
                                <td>5</td>
                                <td >50%</td>
                                <td >2.50</td>
                                <td >17.71</td>
                                <td >101%</td>
                                <td >42%</td>
                              </tr>
                              <tr>
                                <th scope="row">Dan Lee</th>
                                <td>44.5</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >126%</td>
                                <td >52%</td>
                              </tr>
                              <tr>
                                <th scope="row">Durga Shreshta</th>
                                <td>43.5</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >167%</td>
                                <td >69%</td>
                              </tr>
                              <tr>
                                <th scope="row">Enrique Jimenez</th>
                                <td>59</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >106%</td>
                                <td >44%</td>
                              </tr>
                              <tr>
                                <th scope="row">Ha Nguyen</th>
                                <td>37.5</td>
                                <td>5</td>
                                <td >50%</td>
                                <td >2.50</td>
                                <td >17.71</td>
                                <td >181%</td>
                                <td >75%</td>
                              </tr>
                              <tr>
                                <th scope="row">Hossein Monfared</th>
                                <td>32</td>
                                <td>5</td>
                                <td >50%</td>
                                <td >2.50</td>
                                <td >17.71</td>
                                <td >181%</td>
                                <td >75%</td>
                              </tr>
                              <tr>
                                <th scope="row">Justin Harer</th>
                                <td>35</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >99%</td>
                                <td >41%</td>
                              </tr>
                              <tr>
                                <th scope="row">Malek Itani</th>
                                <td>35</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >99%</td>
                                <td >41%</td>
                              </tr>
                              <tr>
                                <th scope="row">Mark McCaleb</th>
                                <td>32</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >3542</td>
                                <td >90%</td>
                                <td >38%</td>
                              </tr>
                              <tr>
                                <th scope="row">Sampson Tang</th>
                                <td>47.5</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >90%</td>
                                <td >38%</td>
                              </tr>
                              <tr>
                                <th scope="row">Tuan Tran</th>
                                <td>41.5</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >117%</td>
                                <td >49%</td>
                              </tr>
                              <tr>
                                <th scope="row">Xuan Nguyen</th>
                                <td>41</td>
                                <td>5</td>
                                <td >100%</td>
                                <td >5.0</td>
                                <td >35.42</td>
                                <td >116%</td>
                                <td >48%</td>
                              </tr>

                            </tbody>
                            <tfoot class="thead-light">
                              <tr>
                                <td>Grand Total</td>
                                <td>606.375</td>
                                <td></td>
                                <td></td>
                                <td>800.00/td>
                                <td>566.67</td>
                                <td>107%</td>
                                <td>41.96%</td>
                              </tr>
                            </tfoot>
                          </table>
                </div>

                </div>

                <div class="card-body">
                      <p>May 2022 Activity Report Status</p>
                      <div class="table-responsive">
                        <table class="table border card-table table-vcenter text-nowrap">
                          <thead class="thead-light">
                            <tr>
                              <th>Inspector</th>
                              <th>Engineer Working</th>
                              <th>Supervisors Review</th>
                              <th>Supervisors Approved</th>
                              <th>Engineer Editing</th>
                              <th>Grand Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">Almee</th>
                              <td>1</td>
                              <td>7</td>
                              <td ></td>
                              <td ></td>
                              <td >8</td>
                            </tr>
                            <tr>
                              <th scope="row">Al Giese</th>
                              <td>2</td>
                              <td>2</td>
                              <td ></td>
                              <td ></td>
                              <td >8</td>
                            </tr>
                            <tr>
                              <th scope="row">Alula Gebrmendan</th>
                              <td>1</td>
                              <td>7</td>
                              <td ></td>
                              <td ></td>
                              <td >8</td>
                            </tr>
                            <tr>
                              <th scope="row">Bita Emami</th>
                              <td>4</td>
                              <td></td>
                              <td >3</td>
                              <td ></td>
                              <td >7</td>
                            </tr>
                            <tr>
                              <th scope="row">Bob Gorham</th>
                              <td></td>
                              <td></td>
                              <td ></td>
                              <td ></td>
                              <td ></td>
                            </tr>
                            <tr>
                              <th scope="row">Chuck MacDonald</th>
                              <td>6</td>
                              <td>1</td>
                              <td ></td>
                              <td ></td>
                              <td >7</td>
                            </tr>
                            <tr>
                              <th scope="row">Dan Le</th>
                              <td>5</td>
                              <td>1</td>
                              <td >3</td>
                              <td ></td>
                              <td >9</td>
                            </tr>
                            <tr>
                              <th scope="row">Enrique Jimenez</th>
                              <td>4</td>
                              <td>2</td>
                              <td >3</td>
                              <td >2</td>
                              <td >11</td>
                            </tr>
                            <tr>
                              <th scope="row">Hu Nguyen</th>
                              <td>7</td>
                              <td></td>
                              <td ></td>
                              <td ></td>
                              <td >7</td>
                            </tr>
                            <tr>
                              <th scope="row">Hossein Monfared</th>
                              <td></td>
                              <td></td>
                              <td >3</td>
                              <td ></td>
                              <td >3</td>
                            </tr>
                            <tr>
                              <th scope="row">Justin Harer</th>
                              <td>4</td>
                              <td></td>
                              <td ></td>
                              <td ></td>
                              <td >4</td>
                            </tr>
                            <tr>
                              <th scope="row">Linda Zigler</th>
                              <td></td>
                              <td></td>
                              <td ></td>
                              <td ></td>
                              <td ></td>
                            </tr>
                            <tr>
                              <th scope="row">Malek Itani</th>
                              <td></td>
                              <td>8</td>
                              <td ></td>
                              <td ></td>
                              <td >8</td>
                            </tr>
                            <tr>
                              <th scope="row">Mark McCaleb/th>
                              <td>1</td>
                              <td>12</td>
                              <td ></td>
                              <td ></td>
                              <td >13</td>
                            </tr>
                            <tr>
                              <th scope="row">Sampson Tang</th>
                              <td>2</td>
                              <td>1</td>
                              <td >2</td>
                              <td ></td>
                              <td >5</td>
                            </tr>
                            <tr>
                              <th scope="row">Tuan Tran</th>
                              <td>3</td>
                              <td>3</td>
                              <td >6</td>
                              <td ></td>
                              <td >12</td>
                            </tr>
                            <tr>
                              <th scope="row">Xuan Nyugen</th>
                              <td>5</td>
                              <td></td>
                              <td >3</td>
                              <td ></td>
                              <td >8</td>
                            </tr>

                          </tbody>
                          <tfoot class="thead-light">
                            <tr>
                              <td>Grand Total</td>
                              <td>52</td>
                              <td>44</td>
                              <td>25</td>
                              <td>2</td>
                              <td>123</td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <!-- <div echarts [options]="echartProgressBar"></div> -->


                </div>
         </div>
       </div>


      </div>







</div>















