<app-page-header title="Management"  active_item="Employee list"></app-page-header>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Employee Table</h3>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table border card-table table-vcenter text-nowrap">
            <thead >
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Salary</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employeeTable">
                <td>{{ employee.Id }}</td>
                <td>{{ employee.Name }}</td>
                <td>{{ employee.Age }}</td>
                <td>{{ employee.City }}</td>
                <td>{{ employee.Salary }}</td>
                <td>
                  <a style="margin-right: 10px;color: aliceblue;" class="btn btn-danger" (click)="editbtn()">Edit</a>
                  <button class="btn btn-danger" (click)="confirmDelete(employee.Id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



