<app-page-header title="Home"  active_item="Hydrostatic"></app-page-header>
<!-- Container -->
<div class="container">

    <div class="row mb-5 justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12 text-center">
            <h1 class="mb-3 font-weight-semibold tx-46">Welcome, California Hydrostatic Testing Firms</h1>
            <p class="leading-normal lead-1">Majority have suffered alteration in some form.</p>
            <p class="leading-normal  tx-16">There are many variations of passages of Lorem Ipsum available, but the majority have suffered  by injected humour, or randomised words which don't look even slightly believable.
                If you are going to use a passage of Lorem Ipsum you are going to use a passage of Lorem Ipsum</p>
        </div>
    </div>

    <div class="row mx-0">
        <div class="card overflow-hidden px-0">
            <img src="./assets/images/photos/27.jpg"  alt="image">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="statistics-info p-4">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="">
                                    <h2 class="fw-bold mb-4 text-dark">We Help to <span class="text-primary">Build</span> Your Dream Project.</h2>
                                    <h5 class="leading-normal fw-normal mb-4 text-dark">majority have suffered alteration in some form, by injected humour</h5>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered by injected humour, or randomised words which don't look even slightly believable.</p>
                                    <p>All the Lorem Ipsum generators on the Internet tend to repeat Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                    <p> If you are going to use a passage of Lorem Ipsum, you need to as necessary All the Lorem Ipsum generators on the Internet tend to repeat Various versions have evolved over the years, sometimes by
                                        accident, sometimes on purpose (injected humour and the like).</p>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="text-center">
                                    <img src="./assets/images/photos/26.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- End Container -->
