<app-page-header title="Home"  active_item="Pipeline"></app-page-header>
<!-- Container -->
<div class="container">

    <div class="row mb-5 justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12 text-center">
            <h1 class="mb-3 font-weight-semibold custom-heading">Pipeline Information Management System</h1>
        </div>
    </div>

    <div class="row mx-0">
        <div class="card overflow-hidden px-0">
            <img src="./assets/images/photos/HydrostaticTesting.jpg" >
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="statistics-info p-4">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="">
                                    <h2 class="fw-bold mb-4 text-dark">HydroStatic Firm Portal</h2>
                                    <p>This is a secure platform where important communication will take place between CAL FIRE-OFFICE of the state fire marshal,Pipeline Safety Division and our partner companies in the pipline industry</p>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="text-center">
                                    <img src="./assets/images/photos/HydrostaticTesting.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- End Container -->
