<div class="d-flex m-3 " >
<div>
<ol class="breadcrumb1">
    <li class="breadcrumb-item1"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item1 active">Admin</li>
    <li class="breadcrumb-item1 active">User Management</li>
    <li class="breadcrumb-item1 active">User Edit</li>
</ol>
</div>

<div class="ms-auto ">

<button class="btn btn-success" style="margin-right: 10px;"><i class="fa fa-plus mx-2" aria-hidden="true"></i>Add</button>
<button class="btn btn-success" style="margin-right: 10px;" ><i class="fa fa-undo mx-2" aria-hidden="true"></i>Reset</button>
<button class="btn btn-primary"><i class="fa fa-caret-left mx-2" aria-hidden="true"></i>Back</button>
</div>


</div>

<div class="row d-flex justify-content-center" >

  <div class="col-xl-6" >

    <div class="card">
      <div class="card-body">
        <div class="card-header mb-5">
          <h4>Edit User</h4>
        </div>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">
          </div>
          <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" class="form-control" id="category" name="category" [(ngModel)]="user.userCategory">
          </div>
          <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" class="form-control" id="role" name="role" [(ngModel)]="user.userRole">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>

  </div>

</div>
