<div class="d-flex m-3 mt-7" >
<div>
<ol class="breadcrumb1">
    <li class="breadcrumb-item1"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item1 active">User Management</li>
    <li class="breadcrumb-item1 active">User Add</li>
</ol>
</div>

<div class="ms-auto ">

<button class="btn btn-success" style="margin-right: 10px;"><i class="fa fa-plus mx-2" aria-hidden="true"></i>Add</button>
<button class="btn btn-success" style="margin-right: 10px;"><i class="fa fa-save mx-2" aria-hidden="true"></i>Save</button>
<button class="btn btn-success" style="margin-right: 10px;" ><i class="fa fa-undo mx-2" aria-hidden="true"></i>Reset</button>
<button class="btn btn-primary" routerLink="/dashboard/admin"><i class="fa fa-caret-left mx-2" aria-hidden="true" ></i>Back</button>
</div>


</div>

<div class="row d-flex justify-content-center" >

  <div class="col-lg-12" >

    <div class="card">
      <div class="card-body">
        <div class="card-header mb-5">
          <h4>Add User</h4>
        </div>
        <form (ngSubmit)="onSubmit()">
        <div class="row">
                <div class="col-lg-6">
                        <div class="form-group">
                       <label for="name">Name:</label>
                            <div class="row gutters-xs">
                                <div class="col">
                     <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">
                                </div>
                                <span class="col-auto">
                                    <button class="btn btn-primary" type="button"><i class="fe fe-search"></i></button>
                                </span>
                            </div>
                            </div>

        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="name">Address:</label>
                     <input type="text" class="form-control" id="address" name="address" [(ngModel)]="user.address">
          </div>
        
        </div>
        <div class="col-lg-6">
        </div>

        <div class="col-lg-6">
                  <div class="form-group">
            <label for="name">Number:</label>
                     <input type="text" class="form-control" id="number" name="number" [(ngModel)]="user.number">
          </div>
        
        </div>



        </div><!--ro-->

        <div class="row">

        <div class="col-lg-6">
            <div class="btn-group mt-2 mb-2 d-grid " ngbDropdown>
            <button type="button" class="btn btn-default dropdown-toggle me-1 d-flex" ngbDropdownToggle>
                User Category<span class="mx-1 ms-auto"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </button>
              <ul ngbDropdownMenu role="menu">
                <li>
                  <div class="custom-controls-stacked m-3">
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input"
                         (change)="onCategoryChange('External')" name="userCategory" value="External" >
                          <span class="custom-control-label">External</span>
                    </label>
                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input"
                                            (change)="onCategoryChange('Internal')" name="userCategory"
                                            value="Internal" >
                                        <span class="custom-control-label">Internal</span>
                    </label>
                    <label class="custom-control custom-radio">
                                      <input type="radio" class="custom-control-input"
                                          (change)="onCategoryChange('Internal')" name="userCategory"
                                          value="Internal" >
                                      <span class="custom-control-label">Admin</span>
                    </label>
                                </div>
                </li>
              </ul>

          </div>
        
        </div>


        <div class="col-lg-6">
                  <div class="btn-group mt-2 mb-2 d-grid" ngbDropdown>
            <button type="button" class="btn btn-default  dropdown-toggle me-1 d-flex" ngbDropdownToggle>
                User Roles <span class="ms-auto"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </button>

            <ul ngbDropdownMenu role="menu">
                  <div class="custom-controls-stacked m-3">
                      <label *ngFor="let role of userRoles" class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" name="example-checkbox1" [value]="role" >
                          <span class="custom-control-label">{{role}}</span>
                       </label>
                  </div>

              </ul>
            </div>
        
        </div>
        
        
        </div>
        
        

        
        
        
          <div class="d-flex justify-content-end mt-5" style="margin-bottom: 50px;">
          <!-- <button type="submit" class="btn btn-primary">Save</button> -->
          
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
